.form-control{
    width: 100%;
    text-align: center;
}
.form-control .input-group{
    margin-top: 2%;
}

.main-header {
    padding: 40px 10px;
border-bottom: 1px solid lightgray;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}