<app-header>
</app-header>

<div *ngIf="valid==true" class="container" style="margin-top: 15%; margin-bottom: 5%;">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <input class="form-control input-group" [(ngModel)]="UserName" type="text">
      <br>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <input class="form-control input-group" [(ngModel)]="UserPassword" placeholder="New Password" type="password" #password="ngModel">
      <br>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <input class="form-control input-group" [(ngModel)]="ConfirmPassword" placeholder="Confirm Password" type="password" required
        validateEqual="password" #confirmPassword="ngModel">
      <br>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <a class="btn" (click)="reset(UserPassword, ConfirmPassword)" style="background-color: green; color:white; float:right;"
        role="button">Reset Password</a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>


<app-footer></app-footer>