          
           <!-- FOOTER -->
            <footer class="page-footer"> 
              <section class="sec-space light-bg">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3 col-sm-12 footer-widget">
                              <!-- <div class="main-logo">
                                  <a href="#"> <img alt="" src="assets/img/logo/main-logo.html" />  </a>
                                  <span class="medium-font">SIMRAN</span><strong>FRESH</strong>
                              </div> -->
                              <h2 class="title-1">  <span class="light-font">SIMRAN  </span> <strong>FRESH </strong> </h2>
                              <span class="divider-2"></span>
                              <div class="text-widget">
                                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                                  <ul>
                                      <li> <i class="fa fa-map-marker"></i> <span> <strong>100 highland ave,</strong> california, united state </span> </li>
                                      <li> <i class="fa fa-envelope-square"></i> <span><a href="#">contact@SIMRAN.com</a> </span> </li>
                                      <li> <i class="fa fa-phone-square"></i> <span><a href="#">www.SIMRAN.com</a> </span> </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3 col-sm-4 footer-widget">
                              <h2 class="title-1">  <span class="light-font">OTHER  </span> <strong>links </strong> </h2>
                              <span class="divider-2"></span>
                              <ul class="list">
                                  <li> <a href="#"> Vegetables </a> </li>
                                  <li> <a href="#"> Fruits </a> </li>
                                  <li> <a href="#"> Combo Basket </a> </li>
                                  <li> <a href="#"> My Account </a> </li>
                              </ul>
                          </div>
                          <div class="col-md-3 col-sm-4 footer-widget">
                              <h2 class="title-1">  <span class="light-font">My  </span> <strong>account </strong> </h2>
                              <span class="divider-2"></span>
                              <ul class="list">
                                  <li> <a href="#"> My Account </a> </li>
                                  <li><a href="#"> Order List </a></li>
                                
                              </ul>
                          </div>
                          <div class="col-md-3 col-sm-4 footer-widget">
                              <h2 class="title-1">  <span class="light-font">Our  </span> <strong>products </strong> </h2>
                              <span class="divider-2"></span>
                              <ul class="instagram-widget">
                                  <li> <a href="#"> <img src="assets/img/extra/80x80-1.jpg" alt="" /> </a> </li>
                                  <li> <a href="#"> <img src="assets/img/extra/80x80-2.jpg" alt="" /> </a> </li>
                                  <li> <a href="#"> <img src="assets/img/extra/80x80-3.jpg" alt="" /> </a> </li>
                                  <li> <a href="#"> <img src="assets/img/extra/80x80-4.jpg" alt="" /> </a> </li>
                                  <li> <a href="#"> <img src="assets/img/extra/80x80-5.jpg" alt="" /> </a> </li>
                                  <li> <a href="#"> <img src="assets/img/extra/80x80-6.jpg" alt="" /> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="footer-bottom">
                  <div class="pattern"> 
                      <img alt="" src="assets/img/icons/white-pattern.png">
                  </div>
                  <div id="to-top" class="to-top"> <i class="fa fa-arrow-circle-o-up"></i> </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6 col-sm-5">
                            </div>
                          <div class="col-md-6 col-sm-7">
                              <ul class="primary-navbar footer-menu" style="margin-top:-61px;">
                                  <li> <a href="#">Contact Us </a> </li>
                                  <li> <a href="#">Term Of Use  </a> </li>
                                  <li> <a href="#">Site Map  </a> </li>
                                  <li> <a href="#">Privacy Policy</a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </section>
          </footer>
          <!-- /FOOTER -->