<app-header></app-header>
<section class="organic-farm sec-space-top light-bg">
    <img alt="" src="assets/img/extra/sec-img-1.png" class="left-bg-img" />  
    <img alt="" src="assets/img/extra/sec-img-2.png" class="center-bg-img" />
  <div class="container rel-div">
      <div class="title-wrap row" style="margin-top: 20%;">
           
          <h2 class="section-title"><strong>Page Not Found <img src="assets/img/icons/logo-icon.png" alt="" /> </strong> </h2>
          <h4 class="sub-title"> <span>SIMRAN FRESH</span> </h4>
      </div>
      
  </div>
</section>
<app-footer></app-footer>