<app-header></app-header>

  <section class="deals sec-space light-bg" style="margin-top: 9%;">
        <img alt="" src="assets/img/extra/sec-img-3.png" class="right-bg-img" />
        <img alt="" src="assets/img/extra/sec-img-4.png" class="left-bg-img" />
      
        <div class="container rel-div">
          <div class="title-wrap row">
            <h2 class="section-title" style="padding-left: 0px; letter-spacing: 1px;">
              <strong>Coming Soon
                <img style="left: 81px;" src="assets/img/icons/logo-icon.png" alt="" /> </strong>
            </h2>
           
            <h4 class="sub-title">
              <span>SIMRAN FRESH</span>
            </h4>
          </div>
        </div>
      </section> 

      

  <app-footer></app-footer>