<app-header></app-header>

<!-- Headings -->
<section class="deals sec-space light-bg our-space">
    <img alt="" src="assets/img/extra/sec-img-3.png" class="right-bg-img" />
    <img alt="" src="assets/img/extra/sec-img-4.png" class="left-bg-img" />
  
    <div class="container rel-div">
  <div class="col-md-3 col-sm-1 col-xs-1"></div>
  <div class="col-md-6 col-sm-10 col-xs-10 head">
      <div class="title-wrap row" style="margin-top: 20%;">
          <h2 class="section-title">
            <strong>Customer  Process
              <img style="left: 124px;" src="assets/img/icons/logo-icon.png" alt="" /> </strong>
          </h2>
    
          <h4 class="sub-title">
            <span>SIMRAN FRESH</span>
          </h4>
        </div>
  </div>
  <div class="col-md-3 col-sm-1 col-xs-1"></div>
    </div>
  </section>
<!-- Heading Ends -->

<div class="container" style="margin-top: 5%; margin-bottom: 5%; text-align:justify;">
<h4>Ordering:</h4>
<p>
    We accept Orders via our Website, Mobile Applications, Whatsapp and On Call Customer Care
</p>

<h4>Procurement</h4>
<p>
    Our Expert and Experienced Sourcing team procures best quality products from Farmers and Markets.
</p>
<h4>Pre Cleaning</h4>
<p>
    Almost all the products are pre cleaned and pre washed to remove any physically placed harmful foreign particles from the surface of Fruits and Vegetables.
</p>
<h4>Ozonization</h4>
<p>
    The cleaned Products are again washed using pressured Ozonized water. Usually the fruits and vegetables we purchase may look neat and safe, but many times they contain residues of toxic pesticides, or get contaminated with bacteria and other harmful microbes due to unhygienic storage or transportation. Ozone being a powerful food grade disinfectant is capable of removing almost all bacteria and neutralizing harmful pesticides from the outer surface.
</p>
<h4>Sorting</h4>
<p>
    Under the experienced eyes of our team, all the products are sorted for only the Best Quality produce and then are further sorted into different sizes and weights.
</p>
<h4>Packing</h4>
<p>
    In a hygienic environment, the Products are scaled on high grade electronic weighing scale and then packed & sealed in high quality bags, which are purely decomposable to ensure germ-free packing
</p>
<h4>Quality Control</h4>
<p>
    We carefully evaluate each and every fruit and vegetable we sell at every stage from Procurement to Packaging.
</p>
<h4>Delivery</h4>
<p>
    The Products are properly arranged in cloth-bags as per Orders and arranged in temperature controlled and germ-free Delivery Boxes. A well-trained Delivery Agent then takes the Orders to the Customers
</p>
<h4>Payment</h4>
<p>
    The Payment is either made online in advance or collected at the door-steps. The Delivery Agent collects Payment details from the Customer
</p>
<h4>
    Feedback
</h4>
<p>
    We expect and respect customers’ feedback, which we go through religiously to better our product and service quality
</p>

<h3>Customer Process:</h3>
<h4>Login</h4>
<p>
    If you wish to order online, Register (for first time ordering) or Login to the website or App.
</p>
<h4>Choose your Products</h4>
<p>
    Go through the updated list of wide Variety of Fruits & Vegetables along with their prices either on our Website, Mobile App or WhatsApp messages and select what you prefer to enjoy with your family & friends.
</p>
<h4>Checkout</h4>
<p>
    Once you have chosen what you want, select the mode of payment as per your convenience from the available options: Net Banking, Credit Card, Debit Card. Cash On Delivery. Your order is placed once you have selected or intimidated your preferred mode of payment.
</p>
<h4>Receive your Delivery</h4>
<p>
    Your order will be delivered at your doorstep at the pre notified committed time period. You only need to receive it and make the payment (if you have opted for COD) once you are satisfied with the Quality & Quantity of your delivered order.
</p>
<h4>Give Feedback</h4>
<p>
    Only If you please, we would appreciate you to give us your valuable feedback.
</p>
<h4>Enjoy your Food</h4>
<p>
    Now you can enjoy the freshness and wholesomeness of a Quality product which has been surface disinfected with the strongest known food grade antimicrobial agent.<b> Now that is One less thing to worry about the health of your loved ones.</b>
</p>
  </div>
  <app-footer></app-footer>