<app-header></app-header>
<section class="deals sec-space light-bg">
    <img alt="" src="assets/img/extra/sec-img-3.png" class="right-bg-img" />
    <img alt="" src="assets/img/extra/sec-img-4.png" class="left-bg-img" />
  
    <div class="container rel-div">
      <div class="title-wrap row" style="margin-top: 20%;">
        <h2 class="section-title">
          <strong>Order Status
            <img style="left: 117px;" src="assets/img/icons/logo-icon.png" alt="" /> </strong>
        </h2>
        <h4 class="sub-title">
          <span>SIMRAN FRESH</span>
        </h4>
      </div>
    </div>
  </section>

<!-- Order Status -->

 <!-- <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7" style="margin-top:10px;">
     <div class="item" style="margin-bottom: 300px; margin-top:10%;" >
       <div class="product-box" style="height:400px; width:700px;">
         <div class="">
           <div class="left">
          <div class="row" style="margin-left:0; margin-right:0;">
           <p style="margin-left:4%; margin-top:5%;  font-size:20px;">You'r order has been placed successfully. We will get back to you soon..!</p>
          <img src='assets/img/extra/success.jpg'>
          </div>
           </div>
         </div>
       </div>
     </div>
    </div>
    <div class="col-md-3"></div> 
 </div>-->

 <div class="row">
   <div class="col-md-3 col-sm-2 col-xs-2"></div>
   <div class="col-md-6 col-sm-10 col-xs-10">
     <div class="item" style="margin-bottom: 10%">
       <div class="product-box">
         <div class="left">
           <div class="row">
             <p style="font-size: 20px;">You'r order has been placed successfully. We will get back to you soon..!!</p>
             <img class="thumbmup" src='assets/img/extra/success.jpg'>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-3 col-sm-2 col-xs-2"></div>
 </div>



  <!-- Order Status Ends -->
<app-footer></app-footer>