<app-header></app-header>
<section class="deals sec-space light-bg our-space">
  <img alt="" src="assets/img/extra/sec-img-3.png" class="right-bg-img" />
  <img alt="" src="assets/img/extra/sec-img-4.png" class="left-bg-img" />

  <div class="container rel-div">
<div class="col-md-3 col-sm-1 col-xs-1"></div>
<div class="col-md-6 col-sm-10 col-xs-10 head">
    <div class="title-wrap row" style="margin-top: 20%;">
        <h2 class="section-title">
          <strong>Order Status
            <img style="left: 142px;" src="assets/img/icons/logo-icon.png" alt="" /> </strong>
        </h2>
  
        <h4 class="sub-title">
          <span>SIMRAN FRESH</span>
        </h4>
      </div>
</div>
<div class="col-md-3 col-sm-1 col-xs-1"></div>
  </div>
</section>


 <div class="row">
   <div class="col-md-3 col-sm-2 col-xs-2"></div>
   <div class="col-md-6 col-sm-10 col-xs-10">
     <div class="item" style="margin-bottom: 10%">
       <div class="product-box">
         <div class="left">
           <div class="row suc">
            
             <img class="thumbmup" src='assets/img/extra/success1.png'>
             <p style="font-size: 20px;">Thank you for your purchase.</p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-3 col-sm-2 col-xs-2"></div>
 </div>



  <!-- Order Status Ends -->
<app-footer></app-footer>