body {
	background: #eee;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.clearfix {
  content: "";
  display: table;
  clear: both;	
}
.product-box .col-md-4.left{
	text-align: left;
}
/* #site-header, #site-footer {
	background: #fff;
} */

/* #site-header {
	margin: 0 0 30px 0;
} */

/* #site-header h1 {
	font-size: 31px;
	font-weight: 300;
	padding: 40px 0;
	position: relative;
	margin: 0;
} */

a {
	color: #000;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

.plabel{
	margin: 0 15px;
	font-size: 16px;
}
.subtotal.row{
	margin-top: 20px;


}.floatleft{
	float: left;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.lab{
	margin-left: 10%;
}
	
.pricebox{
	margin-left: 17px;
    width: 312px;
}


.product-box{
	border:1px solid #eee;
	border-radius: 5px;
	margin:0;
}
.product-box::after{
	display: none;
}

/* @media (min-width: 768px){
.col-sm-10 {
	 width: 0%; 
}
} */

a:hover {
	color: #53b5aa;
}
.emptycartimg{
	margin-top: 10%;
	text-align: center;
}

/* #site-header h1 span {
	color: #53b5aa;
}

#site-header h1 span.last-span {
	background: #fff;
	padding-right: 150px;
	position: absolute;
	left: 217px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
} */

/* #site-header h1:hover span.last-span, #site-header h1 span.is-open {
	left: 363px;
}

#site-header h1 em {
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}

.container {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 980px;
} */

/* #cart {
	width: 100%;
} */

#cart h1 {
	font-weight: 300;
}
.formin{
	width:110%;
	text-align: center;
}
#cart a {
	color: black;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

#cart a:hover {
	color: #000;
}

.product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.note{
	font-size: 13px;
}
.product {
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 0 0 20px;
	width: 100%;
	position: relative;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.checkbox-inline {
    text-align: justify;
    font-size: 13px;
    cursor: pointer;
}

.glyphicon{
	cursor: pointer;
}

/* .product img {
	width: 100%;
	height: 100%;
	
} */

.product header, .product .content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
}

.product header {
	
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 3%;
	position: relative;
	width: 24%;
	height: 137px;
}

.product header:hover img {
	opacity: .7;
}

.product header:hover h3 {
	bottom: 73px;
}

/* .product header h3 {
	background: #53b5aa;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;

	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
} */

.remove {
	cursor: pointer;
}


.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 136px;
	padding: 0 20px;
	width: 73%;
}

.product h1 {
	color: #53b5aa;
	font-size: 16px;
	font-weight: 300;
	margin: 17px 0 20px 0;
}
/* 
.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product .pricee .footer {
	background: #fcfcfc;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product .full-pricee .footer {
	background: #53b5aa;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}
.pricee{
	
	float: left;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	cursor: pointer;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

span > .button {
    padding: 10px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 10px;
    background: red;
    font-size: 15px;
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
} */

/* .qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 10px;
}

.qt-minus {
	line-height: 10px;
} */

/* .qt-plus:hover, .qt-minus:hover {
	
	color:black;
	cursor: pointer;
}
.qy-plus, .qt-minus{
	font-weight: 50
}

/* .product{
	width:60%;
	margin-left: 20px;
} */ 

/* 	
	float: right;
	font-size: 19px;
	font-weight: 100;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
} */


	/* float: right;
	font-size: 19px;
	font-weight: 100;
	line-height: 49px; */
	/* margin: 0;
	padding: 0 30px;
}
#site-footer {
	margin: 30px 0 0 0;
}

#site-footer {
	padding: 40px;
}*/



.left {
	float: left;
}

.right {
	float: right;
}

.btn {
	background: green;
	cursor: pointer;
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	
	
	text-align: center;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.subtotal, .shipping, .total, .taxes{
	padding-bottom: 4%
}

 .checkout:hover {
	color: #fff;
	background: #429188;
} 

.prods-btn .quantity .minus{
	left: 0px;
}

.prods-btn .quantity .plus{
	right: 0px;
}

.btn .minus{
	margin-top: 0;
}

.btn .plus{
	margin-top: 0;
}


.main-header {
    padding: 40px 10px;
border-bottom: 1px solid lightgray;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}

.deals .left-bg-img {
	bottom: -9%;
}
.deals .right-bg-img{
	top: auto;
}
.sec-space{
	padding-bottom: 19px;
}


input:focus { background-color: white; }
select:focus { background-color: white; }
.qty { background-color: white; }

.imp{
	font-size: 10px;
	
}

.checkbox-inline, .radio-inline {
    margin-top: -20px;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    /* margin-bottom: 0; */
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

