
<app-header [parentCount]="cartCoount"></app-header>


<!-- Headings -->
<section class="deals sec-space light-bg our-space">
  <img alt="" src="assets/img/extra/sec-img-3.png" class="right-bg-img" />
  <img alt="" src="assets/img/extra/sec-img-4.png" class="left-bg-img" />

  <div class="container rel-div">
<div class="col-md-3 col-sm-1 col-xs-1"></div>
<div class="col-md-6 col-sm-10 col-xs-10 head">
    <div class="title-wrap row" style="margin-top: 20%;">
        <h2 class="section-title">
          <strong>My Account
            <img style="left: 117px;" src="assets/img/icons/logo-icon.png" alt="" /> </strong>
        </h2>
  
        <h4 class="sub-title">
          <span>SIMRAN FRESH</span>
        </h4>
      </div>
</div>
<div class="col-md-3 col-sm-1 col-xs-1"></div>
  </div>
</section>
  <!-- Heading Ends -->



<div class="container">

<!-- First Row -->

<div class="row toprow" style="margin-bottom: 10%;">
  <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="prod-banner green-banner" style="margin-bottom:5%;">
          <!-- <img src="assets/img/extra/heart.png" alt=""  class="bottom-img orders"/> -->
                  <a routerLink="/Orders"><h3 class="title-sec">All Orders</h3></a>
                 <div class="row"> <h2> <span class="light-font">Track Them </span> </h2></div>
      </div>
      
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="prod-banner green-banner" style="margin-bottom:5%;">
                        <a routerLink="/wish"><h3 class="title-sec">Wishlist</h3></a>
                       <div class="row"> <h2> <span class="light-font">Shop Them </span> </h2></div>
            </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="prod-banner green-banner" style="margin-bottom:5%;">
                    <a routerLink="/updateprofile"><h3 class="title-sec">Update Profile</h3></a>
                   <div class="row"> <h2> <span class="light-font">About Me </span> </h2></div>
                </div>
    </div>
</div>
</div>

<app-footer></app-footer>