@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
  background: #999;
  padding: 40px;
 font-family: sans-serif; 
}

/* #bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("assets/img/slider/slide-1.jpg") no-repeat center center fixed;
  background-size: cover;
      
} */

@media screen and (max-width:1200px){
  .main-logo{
    margin-left: 20%;
  }
}

.comp{
    margin-top: 8%;
}
.imp{
  font-size: 10px;
  margin-left: 240px;
}
.form-group{
  margin-bottom: 25px;  
}
form {

  position: relative;
  width: 350px;
  margin: 0 auto;
  background: rgba(130,130,130,.3);
  padding: 20px 22px;
  /* border: 1px solid;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4); */
}

form button {
  width: 301px;
  border: 1px solid;
  border-bottom-color: rgba(255,255,255,.5);
  border-right-color: rgba(60,60,60,.35);
  border-top-color: rgba(60,60,60,.35);
  border-left-color: rgba(80,80,80,.45);
  background-color: floralwhite;
  background-repeat: no-repeat;
  padding: 8px 24px 8px 10px;
  font: bold .875em/1.25em "Open Sans", sans-serif;
  letter-spacing: .075em;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-bottom: 19px;
}

form input:focus { background-color: white; }

/* form input.email {
  background-image: url("assets/img/slider/slide-1.jpg");
  background-position: 300px 10px;
  
}

form input.pass {
    background-image: url("assets/img/slider/slide-1.jpg");
    background-position: 300px 8px
} */

::-webkit-input-placeholder { color: rgb(100, 94, 94); text-transform: uppercase; }
::-moz-placeholder { color: rgb(100, 94, 94); text-transform: uppercase; }
:-ms-input-placeholder { color: rgb(100, 94, 94); text-transform: uppercase; }

form button[type=submit] {
  margin-bottom: 0;
  color: white;
  letter-spacing: .05em;
  text-shadow: 0 1px 0 rgb(180, 115, 99);
  text-transform: uppercase;
  background: rgb(4, 98, 46);
  /* border-top-color: #705a5a;
  border-top-color: #705a5a;
  border-left-color: #608586;
  border-bottom-color:  #AD5F4C;
  border-right-color: #AD5F4C; */
  cursor: pointer;
}

a:hover{
  color:rgb(4, 98, 46);
}

#not_signed_inyujn5kk3c499{
  font-size: 13px;
    margin-right: 22px;
}

.product-modal{
  width: 450px;
}
p {
  margin: -25px 0 10px;
}

img {
  max-width: 61%;
  /* max-height: 100%; */
  height: auto;
  
}
.col-md-6{
  text-align: center;
  margin-top: 5%;
}
.form-control{
  height: 33px;
}

select:focus{
  background-color: white;
}