body, html {
    height: 100%;
}


.main-slide{
    margin-top:0px;
}


/* 
@media screen and (width: 11904px) {

    .main-slide{
        margin-top:0%;
    }
  
} */

@media screen and (max-width:650px){
    .main-slide{
        margin-top:-5%;
    }
}





    


